{% extends 'base.html.twig' %}

{% block title %}Reponse index{% endblock %}

{% block body %}
    <h1>Reponse index</h1>

    <div class="navigation mb-4">
        <a href="{{ path('app_reclamation_index') }}" class="btn btn-primary">Back to Reclamations</a>
        <a href="{{ path('app_debug_roles') }}" class="btn btn-info">Debug Roles</a>
        <a href="{{ path('app_logout') }}" class="btn btn-danger">Logout</a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Statut</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reponse in reponses %}
            <tr>
                <td>{{ reponse.id }}</td>
                <td>{{ reponse.description }}</td>
                <td>{{ reponse.statut }}</td>
                <td>{{ reponse.date ? reponse.date|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_reponse_show', {'id': reponse.id}) }}">show</a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('app_reponse_edit', {'id': reponse.id}) }}">edit</a>
                        <form method="post" action="{{ path('app_reponse_delete', {'id': reponse.id}) }}" style="display: inline-block">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ reponse.id) }}">
                            <button class="btn btn-link p-0 m-0" onclick="return confirm('Are you sure you want to delete this item?');">delete</button>
                        </form>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('app_reponse_new') }}">Create new</a>
    {% endif %}
{% endblock %}
