{% extends 'base.html.twig' %}

{% block title %}Abonnement{% endblock %}

{% block body %}
    <h1>Abonnement</h1>

    <table class="table">
        <tbody>
            
            <tr>
                <th>NomAbonnement</th>
                <td>{{ abonnement.nomAbonnement }}</td>
            </tr>
            <tr>
                <th>Duree</th>
                <td>{{ abonnement.duree }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ abonnement.prix }}</td>
            </tr>
        </tbody>
    </table>
    <div >
    <a  style="margin-right: 10px;" href="{{ path('app_abonnement_index') }}"><img src="{{ asset('img/reply.png') }}" alt="return" width="30" height="30"></a>

    <a  style="margin-right: 10px;" href="{{ path('app_abonnement_edit', {'idAbonnement': abonnement.idAbonnement}) }}"> <img src="{{ asset('img/edit.png') }}" alt="Edit" width="30" height="30"></a>
   {{ include('abonnement/_delete_form.html.twig') }}
   
    </div>
   
    
{% endblock %}
