{% extends 'base.html.twig' %}

{% block title %}Reclamation index{% endblock %}

{% block body %}
    <h1>Reclamation index</h1>

    <div class="navigation mb-4">
        <a href="{{ path('app_reponse_index') }}" class="btn btn-primary">Go to Responses</a>
        <a href="{{ path('app_debug_roles') }}" class="btn btn-info">Debug Roles</a>
        <a href="{{ path('app_logout') }}" class="btn btn-danger">Logout</a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Statut</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reclamation in reclamations %}
            <tr>
                <td>{{ reclamation.id }}</td>
                <td>{{ reclamation.description }}</td>
                <td>{{ reclamation.statut }}</td>
                <td>{{ reclamation.date }}</td>
                <td>
                    <a href="{{ path('app_reclamation_show', {'id': reclamation.id}) }}">show</a>
                    <a href="{{ path('app_reclamation_edit', {'id': reclamation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if not is_granted('ROLE_ADMIN') %}
        <a href="{{ path('app_reclamation_new') }}" class="btn btn-success">Create new</a>
    {% endif %}
{% endblock %}
