{# templates/front_reponse/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Responses{% endblock %}

{% block body %}
    <h1>Responses</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Status</th>
                <th>Date</th>
                <th>Reclamation ID</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for response in responses %}
            <tr>
                <td>{{ response.id }}</td>
                <td>{{ response.description }}</td>
                <td>{{ response.statut }}</td>
                <td>{{ response.date }}</td>
                <td>N/A</td>
                <td>
                    <a href="{{ path('front_reponse_show', {'id': response.id}) }}">Show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">No responses found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}