{# templates/front_reponse/show.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Response #{{ response.id }}{% endblock %}

{% block body %}
    <h1>Response #{{ response.id }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ response.id }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ response.description }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ response.statut }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ response.date }}</td>
            </tr>
            <tr>
                <th>Reclamation ID</th>
                <td>N/A</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('front_reponses_index') }}">Back to list</a>
{% endblock %}