{% extends 'base_backOffice.html.twig' %}

{% block title %}Image générée - {{ projet.nomprojet }}{% endblock %}

{% block body %}
<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="card my-4">
                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                    <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                        <h6 class="text-white text-capitalize ps-3">
                            Image générée pour {{ projet.nomprojet }}
                        </h6>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card mb-4">
                                <div class="card-header bg-gradient-info text-white">
                                    Détails du Projet
                                </div>
                                <div class="card-body">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">
                                            <strong>Style:</strong> {{ projet.stylearch ?? 'Non spécifié' }}
                                        </li>
                                        <li class="list-group-item">
                                            <strong>Superficie:</strong> {{ projet.superficie ?? 'Non spécifié' }}
                                        </li>
                                        <li class="list-group-item">
                                            <strong>Emplacement:</strong> {{ projet.emplacement ?? 'Non spécifié' }}
                                        </li>
                                        <li class="list-group-item">
                                            <strong>Type:</strong> {{ projet.type ?? 'Non spécifié' }}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="card">
                                <div class="card-header bg-gradient-success text-white">
                                    Image Générée par AI
                                </div>
                                <div class="card-body text-center">
                                    <img src="data:{{ mimeType }};base64,{{ imageData }}" 
                                         class="img-fluid rounded" 
                                         alt="Visualisation du projet {{ projet.nomprojet }}">
                                    <div class="mt-3">
                                        <a href="{{ path('app_projet_show', {'idProjet': projet.idProjet}) }}" 
                                           class="btn btn-secondary">
                                            Retour au projet
                                        </a>
                                        <button class="btn btn-primary ms-2" onclick="window.print()">
                                            Imprimer l'image
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}